/**
 * NPC Styles
 */

/***** Reset *****/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    outline: 0;
}

/***** Common *****/

body {
    font-family: "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "冬青黑体简体中文 w3", "华文细黑", STHeiti, MingLiu;
    font-size: 14px;
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

/***** Header *****/

header {
    position: absolute;
    *position: relative;
    top: 3px;
    width: 100%;
    z-index: 100;
}

header #header-content {
    margin: 5px auto 0;
    width: 98%;
    max-width: 1330px;
    _width: expression( document.body.clientWidth > 1330 ? "1330px" : "98%" );
    z-index: 100;
}

header #logo {
    float: left;
    display: inline;
}

header #logo a {
    float: left;
    display: block;
    width: 440px;
    height: 71px;
    background: url("../image/logo.png") no-repeat left top;
}

header nav {
    float: right;
    display: block;
    margin: 0;
    padding: 0;
}

header nav a {
    position: relative;
}

header nav ul {
    position: relative;
    float: right;
    display: inline;
    text-align: center;
}

header nav ul li {
    float: left;
    display: inline-block;
    _display: inline;
    padding: 10px 8px;
    position: relative;
}

header nav ul li a {
    display: block;
    background-repeat: no-repeat;
    background-position: left center;
}

header nav ul li.nav-3d,
header nav ul li.nav-location {
    padding: 10px 0 0;
    width: 50px;
}

header nav ul li.nav-3d a {
    width: 50px;
    height: 50px;
    background-image: url("../image/icon_3d.jpg");
}

header nav ul li.nav-location a {
    width: 50px;
    height: 50px;
    background-image: url("../image/icon_location.jpg");
}

header nav ul li.nav-3d a:hover {
    background-image: url("../image/icon_3d_h.jpg");
}

header nav ul li.nav-location a:hover {
    background-image: url("../image/icon_location_h.jpg");
}

header nav ul li.nav-input input {
    width: 134px;
    height: 40px;
    border: 0;
    outline: none;
    padding: 5px 15px;
    font-size: 14px;
    *line-height: 40px;
    background-image: url("../image/bg_input.png");
}

header nav ul li.nav-search a {
    margin-top: 10px;
    width: 98px;
    height: 30px;
    *height: 50px;
    background-image: url("../image/nav_01.png");
}

header nav ul li.nav-search a:hover {
    background-image: url("../image/nav_01_h.png");
}

header nav ul li.nav-session a {
    margin-top: 10px;
    width: 101px;
    height: 30px;
    *height: 50px;
    background-image: url("../image/nav_02.png");
}

header nav ul li.nav-session a:hover {
    background-image: url("../image/nav_02_h.png");
}

header nav ul li.nav-discovery a {
    margin-top: 10px;
    width: 116px;
    height: 30px;
    *height: 50px;
    background-image: url("../image/nav_03.png");
}

header nav ul li.nav-discovery a:hover {
    background-image: url("../image/nav_03_h.png");
}

header nav ul ul {
    display: none;
    position: absolute;
    left: -10px;
    top: 50px;
    background: #fff;
    padding: 10px;
    width: 220px;
    z-index: 500;
}

header nav ul li.nav-session ul li a {
    margin: 3px;
    width: 210px;
    height: 24px;
}

header nav ul li:hover ul,
header nav ul li.hover ul {
    display: block;
}

header nav ul ul li {
    padding: 3px 5px;
}

header nav ul li.nav-session ul li.nav-session-0 a {
    background-image: url("../image/nav_02_00.png");
}

header nav ul li.nav-session ul li.nav-session-0 a:hover {
    background-image: url("../image/nav_02_00_h.png");
}

header nav ul li.nav-session ul li.nav-session-1 a {
    background-image: url("../image/nav_02_01.png");
}

header nav ul li.nav-session ul li.nav-session-1 a:hover {
    background-image: url("../image/nav_02_01_h.png");
}

header nav ul li.nav-session ul li.nav-session-2 a {
    background-image: url("../image/nav_02_02.png");
}

header nav ul li.nav-session ul li.nav-session-2 a:hover {
    background-image: url("../image/nav_02_02_h.png");
}

header nav ul li.nav-session ul li.nav-session-3 a {
    background-image: url("../image/nav_02_03.png");
}

header nav ul li.nav-session ul li.nav-session-3 a:hover {
    background-image: url("../image/nav_02_03_h.png");
}

header nav ul li.nav-session ul li.nav-session-4 a {
    background-image: url("../image/nav_02_04.png");
}

header nav ul li.nav-session ul li.nav-session-4 a:hover {
    background-image: url("../image/nav_02_04_h.png");
}

header nav ul li.nav-session ul li.nav-session-5 a {
    background-image: url("../image/nav_02_05.png");
}

header nav ul li.nav-session ul li.nav-session-5 a:hover {
    background-image: url("../image/nav_02_05_h.png");
}

header nav ul li.nav-session ul li.nav-session-6 a {
    background-image: url("../image/nav_02_06.png");
}

header nav ul li.nav-session ul li.nav-session-6 a:hover {
    background-image: url("../image/nav_02_06_h.png");
}

header nav ul li.nav-session ul li.nav-session-7 a {
    background-image: url("../image/nav_02_07.png");
}

header nav ul li.nav-session ul li.nav-session-7 a:hover {
    background-image: url("../image/nav_02_07_h.png");
}

header nav ul li.nav-session ul li.nav-session-8 a {
    background-image: url("../image/nav_02_08.png");
}

header nav ul li.nav-session ul li.nav-session-8 a:hover {
    background-image: url("../image/nav_02_08_h.png");
}

header nav ul li.nav-session ul li.nav-session-9 a {
    background-image: url("../image/nav_02_09.png");
}

header nav ul li.nav-session ul li.nav-session-9 a:hover {
    background-image: url("../image/nav_02_09_h.png");
}

header nav ul li.nav-session ul li.nav-session-10 a {
    background-image: url("../image/nav_02_10.png");
}

header nav ul li.nav-session ul li.nav-session-10 a:hover {
    background-image: url("../image/nav_02_10_h.png");
}

header nav ul li.nav-session ul li.nav-session-11 a {
    background-image: url("../image/nav_02_11.png");
}

header nav ul li.nav-session ul li.nav-session-11 a:hover {
    background-image: url("../image/nav_02_11_h.png");
}

header nav ul li.nav-session ul li.nav-session-12 a {
    background-image: url("../image/nav_02_12.png");
}

header nav ul li.nav-session ul li.nav-session-12 a:hover {
    background-image: url("../image/nav_02_12_h.png");
}

header nav ul li.nav-discovery ul {
    width: 115px;
}

header nav ul li.nav-discovery ul li a {
    margin: 3px;
    width: 115px;
    height: 24px;
}

header nav ul li.nav-discovery ul li.nav-discovery-1 a {
    background-image: url("../image/nav_03_01.png");
}

header nav ul li.nav-discovery ul li.nav-discovery-1 a:hover {
    background-image: url("../image/nav_03_01_h.png");
}

header nav ul li.nav-discovery ul li.nav-discovery-2 a {
    background-image: url("../image/nav_03_02.png");
}

header nav ul li.nav-discovery ul li.nav-discovery-2 a:hover {
    background-image: url("../image/nav_03_02_h.png");
}

header nav ul li.nav-discovery ul li.nav-discovery-3 a {
    background-image: url("../image/nav_03_03.png");
}

header nav ul li.nav-discovery ul li.nav-discovery-3 a:hover {
    background-image: url("../image/nav_03_03_h.png");
}

/***** Container *****/

#container {
    width: 98%;
    margin: 85px auto 0;
    *margin: 10px auto 0;
    max-width: 1330px;
    _width: expression( document.body.clientWidth > 1330 ? "1330px" : "98%" );
}

#container #main-content,
#container #index-main-content {
    position: relative;
    padding: 0;
    background: #7d7d7d;
    text-align: center;
    overflow: hidden;
    z-index: 5;
}

#container #main-content {
    height: 500px;
    max-height: 500px;
    line-height: 500px;
    _height: expression( this.scrollHeight > 500 ? "500px" : "500px" );
}

#container #index-main-content {
    height: 484px;
    max-height: 484px;
    _height: expression( this.scrollHeight > 484 ? "484px" : "484px" );
}

#container a.play {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: block;
    width: 64px;
    height: 64px;
    background: url("../image/icon_play.png") no-repeat;
    z-index: 100;
}

#container a.play:hover,
#container a.play.hover {
    background: url("../image/icon_play_h.png") no-repeat;
}

#container .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

#container #main-content img {
    max-height: 500px;
    _height: expression( this.scrollHeight > 500 ? "500px" : "auto" );
    vertical-align: middle;
}

#container #index-main-content img {
    position: absolute;
    left: 50%;
    margin-left: -665px;
    height: 484px;
    vertical-align: middle;
    z-index: 30;
}

#container #index-video-content {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -302.5px;
    height: 484px;
    vertical-align: middle;
    z-index: 300;
}

#container .me-cannotplay {
    margin: 0 auto;
}

#container .me-cannotplay h2 {
    margin-top: 30px;
    padding: 30px;
    font-size: 14px !important;
    font-weight: normal !important;
    color: #fff;
    background: #333;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#container .me-cannotplay h2 a {
    color: #ff0000;
    font-weight: normal !important;
}

#container nav.control {
}

#container nav.control ul {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 100px;
    text-align: center;
    z-index: 100;
}

#container nav.control ul li {
    float: left;
    display: block;
    clear: both;
}

#container nav.control ul li a {
    display: block;
    margin-bottom: 20px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    backgrond-position: left top;
}

#container nav.control ul li a:hover {
    width: 117px;
}

#container nav.control ul li.close a {
    background-image: url("../image/icon_close.png");
}

#container nav.control ul li.close a:hover {
    background-image: url("../image/icon_close_h.png");
}

#container nav.control ul li.gallery a {
    background-image: url("../image/icon_all.png");
}

#container nav.control ul li.gallery a:hover {
    background-image: url("../image/icon_all_h.png");
}

#container nav.control ul li.next a {
    background-image: url("../image/icon_next.png");
}

#container nav.control ul li.next a:hover {
    background-image: url("../image/icon_next_h.png");
}

#container nav.control ul li.previous a {
    background-image: url("../image/icon_previous.png");
}

#container nav.control ul li.previous a:hover {
    background-image: url("../image/icon_previous_h.png");
}

#container #main-content .tbar {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    background: #fff;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
    z-index: 10;
}

#container #main-content span.info,
#container #main-content span.share {
    position: absolute;
    bottom: 0;
    width: 200px;
    line-height: 30px;
    color: #9f001a;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    z-index: 12;
}

#container #main-content span.info {
    left: 20px;
    text-align: left;
}

#container #main-content span.share {
    display: none;
    right: 20px;
    text-align: right;
}

#container #main-content span:hover,
#container #main-content span.hover {
    color: #9f001a;
}

#container #session-nav {
    width: 100%;
    margin: 0;
    padding: 0;
}

#container #session-nav ul {
    float: left;
    margin: 5px 0 0 0;
    padding: 0;
}

#container #session-nav ul li {
    float: left;
    display: inline;
    width: 33%;
    *width: 32.8%;
    margin: 8px 4px 0 0;
    max-width: 436px;
    _width: expression( document.body.clientWidth > 1400 ? "436px" : "32.8%" );
    height: 284px;
}

#container #session-nav ul li a {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    /*width: 436px;*/
    height: 284px;
    color: #fff;
    background: #780000;
    overflow: hidden;
}

#container #session-nav ul li a:hover {
    text-decoration: none;
}

#container #session-nav ul li a div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

#container #session-nav ul li a img {
    height: 284px;
}

#container #session-nav ul li a span {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    /*width: 436px;*/
    height: 264px;
    background: #780000;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
    z-index: 10;
    overflow: hidden;
}

#container #session-nav ul li a i {
    position: absolute;
    width: 50%;
    text-align: center;
    top: 20%;
    left: 50%;
    margin-left: -25%;
    font-size: 120px;
    text-shadow: 0 0 10px #333;
    z-index: 2;
}

#container #session-nav ul li a span h3 {
    margin: 20px 30px 0 30px;
    line-height: 1.4;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

#container #session-nav ul li a span h3 strong {
    font-size: 12px;
    font-weight: bold;
}

#container #session-nav ul li a span p {
    margin: 15px 30px 0 30px;
    line-height: 1.7;
    color: #fff;
}

#container #relate-content {
    width: 100%;
    padding-top: 30px;
}

#container #relate-content .text {
    float: left;
    width: 47%;
}

#container #relate-content .text h2 {
    margin: 20px 20px 0 100px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.7;
}

#container #relate-content .text p {
    margin: 20px 20px 0 100px;
    line-height: 1.7;
}

#container #relate-content .media {
    float: right;
    border-left: 0px solid #ccc;
    width: 51%;
    min-height: 200px;
}

#container #relate-content .media ul {
    padding: 10px 10px 10px 10px;
}

#container #relate-content .media ul li {
    float: left;
    display: inline;
    margin: 0 10px 10px 0;
}

#container #relate-content .media ul li a {
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    background: #454545;
    overflow: hidden;
}

#container #relate-content .media ul li a:hover {
    text-decoration: none;
}

#container #relate-content .media ul li a span {
    position: absolute;
    bottom: 0;
    width: 140px;
    height: 35px;
    padding: 5px 0 8px;
    background: url(../image/bg_related_image.png);
    color: #fff;
    overflow: hidden;
}

#container #relate-content .media ul li a span h4 {
    padding: 3px 12px;
    height: 30px;
    line-height: 17px;
    overflow: hidden;
}

#container #relate-content .media ul li a.article span {
    position: absolute;
    bottom: 0;
    width: 112px;
    height: 112px;
    padding: 14px;
    background: #959595;
    color: #fff;
    overflow: hidden;
}

#container #relate-content .media ul li a.article span h4 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    overflow: visible;
}

#container #relate-content .media ul li a.article {
    background: #7d7d7d url(../image/icon_artical.png) center center no-repeat;
}

#container #relate-content .media ul li a.image {
    background: #7d7d7d;
}

#container #relate-content .media ul li a.video {
    background: #7d7d7d;
}

#container #relate-content .media ul li a.video img {
}

#container #gallery-content {
    display: none;
    position: relative;
    width: 100%;
    min-height: 600px;
}

#container #gallery-content ul li {
    float: left;
    display: inline;
    margin: 0 0 15px 15px;
}

#container #gallery-content ul li a {
    position: relative;
    display: block;
    text-decoration: none;
}

#container #gallery-content ul li img {
    width: 310px;
    height: 310px;
}

#container #gallery-content ul li a i {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    width: 310px;
    height: 25px;
    padding: 5px 0 10px;
    background: url(../image/bg_related_image.png);
    color: #fff;
    overflow: hidden;
    z-index: 30;
}

#container #gallery-content ul li a i h4 {
    padding: 3px 12px;
    line-height: 22px;
    font-weight: bold;
    font-style: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/** 二级页面全部图片 **/
#container #gallery-content ul li a span {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 290px;
    background: #780000;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
    overflow: hidden;
    z-index: 10;
}

#container #gallery-content ul li a span h3 {
    margin: 20px 30px 0 30px;
    line-height: 1.4;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

#container #gallery-content ul li a span h3 strong {
    font-size: 12px;
    font-weight: bold;
}

#container #gallery-content ul li a span p {
    margin: 15px 30px 0 30px;
    line-height: 1.7;
    color: #fff;
}

#container #detail-content {
    display: none;
    position: relative;
    padding: 0;
    min-height: 600px;
}

#container #detail-content .media {
    position: relative;
    padding: 0;
    background: #7d7d7d;
    text-align: center;
    height: 576px;
    max-height: 576px;
    _height: expression( this.scrollHeight > 576 ? "576px" : "576px" );
    line-height: 576px;
    overflow: hidden;
}

#container #detail-content .media img {
    max-height: 576px;
    _height: expression( this.scrollHeight > 576 ? "576px" : "auto" );
    vertical-align: middle;
}

#container #detail-content .media .mejs-container {
    margin: 0 auto;
}

#container #detail-content .media .me-plugin {
    position: relative;
    margin: 0 auto;
}

#container #detail-content .media .me-plugin embed {
    background: #000;
}

#container #detail-content h2 {
    margin: 20px 20px 0 20px;
    font-size: 18px;
    line-height: 1.7;
    font-weight: bold;
    text-align: center;
}

#container #detail-content p {
    margin: 20px 20px 0 20px;
    line-height: 1.7;
    text-align: center;
}

#container #detail-content .article {
    position: relative;
    *top: -44px;
    background: #7d7d7d;
    text-align: center;
    _height: 576px;
    min-height: 576px;
    padding: 0 100px;
    color: #fff;
}

#container #detail-content .article div {
    background: #707070;
    padding: 30px 30px 50px 30px;
}

#container #detail-content .article h2 {
    display: block;
    margin: 20px 20px 0 20px;
    font-size: 22px;
    line-height: 1.7;
    font-weight: bold;
    text-align: left;
    clear: both;
}

#container #detail-content .article p {
    display: block;
    margin: 20px 20px 0 20px;
    line-height: 1.7;
    text-align: left;
}

#container #detail-content a.close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 48px;
    height: 48px;
    background: url("../image/icon_close.png") no-repeat;
    z-index: 14;
}

#container #detail-content a.close:hover {
    background: url("../image/icon_close_h.png") no-repeat;
}

/***** Footer *****/

footer {
    width: 98%;
    margin: 30px auto;
    padding-bottom: 30px;
    padding-top: 20px;
    max-width: 1330px;
    _width: expression( document.body.clientWidth > 1330 ? "1330px" : "98%" );
}

footer p {
    text-align: center;
}

footer p a#gotop {
    display: block;
    margin: 0 auto;
    width: 144px;
    height: 144px;
    background: url("../image/icon_totop.png") no-repeat;
}

footer p a#gotop:hover,
footer p a#gotop.hover {
    background: url("../image/icon_totop_h.png") no-repeat;
}

/*地点专题*/

#container #main-content.location-content {
    height: 700px;
    max-height: 700px;
    line-height: 1.7;
    _height: expression( this.scrollHeight > 700 ? "700px" : "700px" );
    border: 1px solid #ccc;
    background-color: #fff;
}

#container #main-content #location-list {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    padding: 10px;
}

#container #main-content #location-list li.locationitem {
    float: left;
    display: block;
    color: #333;
    text-align: left;
}

#container #main-content #location-list li a {
    display: block;
    line-height: 1.7;
    padding: 8px 10px 8px 40px;
    width: 190px;
    color: #36c;
    background: url(../image/icon_local.png) no-repeat left 3px;
}

#container #main-content #location-list li a:hover {
    background-color: #eee;
}

#container #main-content #mapContainer {
    position: absolute;
    top: 0;
    left: 260px;
    bottom: 0;
    width: 1070px;
    padding: 0;
    height: 700px;
    max-height: 700px;
}
